/*rgb(255, 165, 0) var(--naranja)**/

/*
[class^='col-']{
	border: 1px solid red;
}
.row{
	border: 1px solid blue;
}*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

:root {
    --color: #5c6b80;
    --naranja: rgb(232, 83, 12);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color);
}

body {
    background-color: #eee;
}

#navbar {
    transition: all .5s ease;
}

#navbar img {
    width: 130px;
    height: auto;
}

.scrollOff {
    background-color: #444 !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.scrollOff li a {
    color: #fff !important;
}

.scrollOn {
    background-color: rgb(255, 255, 255) !important;
}

.scrollOn li a {
    color: var(--color) !important;
}

#nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav .logo {
    height: 2rem;
}

#nav li a {
    text-align: center;
    transition: all .5s ease;
    position: relative;
}

#navbar li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background-color: var(--naranja);
    transition: all .3s ease;
}

#navbar li a:hover:after {
    width: 100%;
}

#nav ul li a:hover {
    color: #ff793b !important;
}

/****************************************************************************************************/

#header {
    position: relative;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    background-color: #999;
    display: flex;
    align-items: center;
}

#header #imgHeader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
    width: auto;
    height: 100%;
}

#parametros_busqueda_servicios_home input[type="text"] {
    width: 100%;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 3px;
    transition: all .5s ease;
}

#parametros_busqueda_servicios_home input[type="text"]:focus {
    border-bottom: 2px solid var(--naranja);
    background-color: rgba(0, 0, 0, .08);
}

/******************************************************/

/* .datepicker-dropdown {
    top: 0;
    left: 0;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
}
.ui-datepicker-calendar {
    width: 100%;
}
.ui-datepicker,
.datepicker table{
    background-color: #fff;
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    color: #000;
    cursor: pointer !important;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    background: red;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #999;
}

.datepicker table tr td.today {
    color: white !important;
    background-color: #FFA953;
    border-color: #FFB76F;
}

.datepicker table tr td.today:hover {
    color: #FFFFFF;
    background-color: #FF8273;
    border-color: #f59e00;
    cursor: pointer !important;
}

.datepicker .datepicker-switch {
    width: 145px;
}

.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    background: #f8f8f8;
}

.ui-datepicker {
    width: 15.20em !important;
    font-family: 'Jaldi', sans-serif !important;
    border: 1px solid #ccc !important;
}

.ui-datepicker-header {
    border-radius: 0px !important;
    background-color: #ededed !important;
    background: #ededed !important;
    border: none !important;
}

.ui-datepicker-next {
    color: #000 !important;
    top: 3px !important;
    right: 3px !important;
}

.ui-datepicker-prev {
    color: #000 !important;
    top: 3px !important;
    left: 3px !important;
}

.ui-datepicker-next:hover {
    border: none !important;
    top: 3px !important;
    right: 3px !important;
    background: white !important;
    cursor: pointer;
}

.ui-datepicker-prev:hover {
    border: none !important;
    top: 3px !important;
    left: 3px !important;
    background: white !important;
    cursor: pointer;
}

.ui-state-default {
    background: none !important;
    background-color: #ededed;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    background: none !important;
    background-color: #eaeaea !important;
    border: 1px solid #A51E1E !important;
    border-radius: 10% !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    background-color: #a1a1a1 !important;
    color: whitesmoke !important;
    font-weight: bold !important;
    border: 1px solid #d3d3d3 !important;
}

#date-picker-expirate .ui-datepicker-calendar {
    display: none;
}

.ui-widget select {
    font-family: 'Jaldi', sans-serif !important;
    font-size: 14px !important;
}

.ui-priority-primary,
.ui-widget-content {
    font-weight: normal !important;
}

.ui-datepicker-close {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    font-size: 14px !important;
}

.hide-calendar .ui-datepicker-calendar {
    display: none;
}

#startDate {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 6px;
}

.ui-datepicker-current {
    display: none !important;
}

.ui-datepicker-buttonpane {
    float: left !important;
    padding: 0 !important;
} */

/************************************************************/

#parametros_busqueda_servicios_home {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    padding: 10px 20px;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.699);
    text-transform: uppercase;
}

#parametros_busqueda_servicios_home a i {
    font-size: 2rem;
    color: var(--color);
}

#parametros_busqueda_servicios_home h4 {
    text-align: center;
    font-size: 1.35rem;
}

#parametros_busqueda_servicios_home h6 {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 0.83rem;
}

#parametros_busqueda_servicios_home .tipo h6 {
    font-size: .8rem;
    display: inline-block;
    font-weight: normal;
}

#btnPasajes {
    margin-top: 10px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 0;
    background-color: var(--naranja);
    color: #fff !important;
    transition: all .5s ease;
    text-shadow: none;
}

#btnPasajes:hover {
    background-color: rgb(235, 145, 0);
    color: #fff !important;
}

#parametros_busqueda_servicios_home i {
    position: absolute;
    bottom: 0px;
    right: 25px;
    transform: translateY(-50%);
    font-size: 1rem;
}

/*************************************/

#informacion {
    padding: 10px 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    text-align: center;
}

#informacion i {
    color: #fff;
}

#informacion h5 {
    font-size: .8rem;
}

#informacion a h4,
#informacion a h4 i {
    font-size: 1rem;
    color: #fff;
    transition: all .4s ease;
}

#informacion a {
    text-decoration: none;
}

#informacion a h4:hover {
    text-decoration: none;
    color: var(--naranja);
}

/****************************************************************************************************/

#carrusel img {
    width: 100%;
    height: auto;
}

#carrusel p {
    text-align: center !important;
}

/****************************************************************************************************/

#rowHeader {
    display: flex;
    align-items: center;
    margin: 80px auto 50px auto;
}

/****************************************************************************************************/

#btn-mas {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    animation: jump 2.5s ease infinite;
}

#btn-mas a i {
    color: #fff !important;
}

@keyframes jump {
    0% {
        top: 92%;
    }
    50% {
        top: 90%;
    }
    100% {
        top: 92%;
    }
}

#btn-mas i {
    font-size: 2rem;
    text-shadow: 0px -2px 5px rgba(0, 0, 0, .4);
}

#carruselDestinos img{
    width: 100%;
    height: auto;
    font-size: .8rem;
}
#carruselDestinos h3{
    color: var(--color);
    text-shadow: 1px 1px 2px #fff;
    margin: 10px 0;
}
#carruselDestinos a{
    padding: 10px 20px;
    background-color: var(--naranja);
    color: #fff !important;
}

#body img {
    width: 100%;
    height: 100%;
}

#body .box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#contacto h5 i {
    font-size: 100%;
}

#contacto {
    padding: 20px 0;
    background-color: #131627;
    color: #fff;
    padding: 20px;
}

#contacto ul li {
    list-style: none;
}

#contacto li input {
    width: 100%;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

#contacto li a {
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0 0 5px 5px;
}

#contacto a {
    position: relative;
    transition: all .5s ease;
}

#contacto p {
    color: #fff;
    font-family: 1.5rem;
    margin-bottom: 0;
}

#contacto i {
    color: var(--naranja);
    font-size: 2rem;
    padding: 0 5px;
}

#form button {
    width: 100%;
    text-align: center;
    background-color: #ff793b;
    color: white;
    transition: all .5s ease;
}

#form button:hover {
    color: rgb(165, 75, 0);
}

#form button i {
    font-size: 100%;
}

#contacto #form {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

#contacto #form textarea,
#contacto #form input {
    transition: all .5s ease;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    min-width: 100%;
    padding: 5px;
    margin: 3px;
}

#contacto #form textarea {
    min-height: 50px;
    max-height: 100px;
}

#contacto #form input:focus,
#contacto #form textarea:focus {
    border-bottom: 1px solid rgba(255, 165, 0, .8);
    background-color: #eee;
}

#contacto #form h4 {
    background-color: #ff702e;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    top: -20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
    margin-bottom: 30px;
}

#contacto .contacto {
    color: var(--naranja);
    text-shadow: 1px 1px 2px var(--color);
}

#contacto h2 {
    text-align: center;
    color: var(--naranja);
    text-shadow: 1px 1px 3px #fff;
    font-weight: bold;
    padding: 20px;
}

#contacto .contacto h3 {
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 1px 1px 3px #000;
}

#contacto #form input.btn {
    background-color: #ff702e !important;
    font-weight: bold;
    color: #603e00;
    box-shadow: 0 5px 5px rgba(255, 255, 255, .2);
}

#contacto #form a {
    margin-top: 15px;
}

#contacto #form .row {
    margin-top: -30px;
    padding: 10px;
}

a {
    color: var(--naranja) !important;
    text-decoration: none !important;

}
#imgLogos{
    display: flex;
    justify-content: flex-end;
}
#imgLogos img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 5px;
}
#imgLogos div[class='col-2']{
    background-color: #fff;
    margin: 10px 0px;
}

#copy {
    background-color: #fff;
    text-align: center !important;
}

#copy p {
    padding: 10px;
    font-size: .8rem;
    color: var(--color);
    margin-bottom: 0px !important;
    text-align: center !important;
}

i.fa-chart-line,
i.fa-trophy,
i.fa-star,
i.fa-chess {
    font-size: 6rem !important;
    text-align: center !important;
    display: block !important;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, .15) !important;
}

i.fa-chart-line {
    color: #e91e63;
}

i.fa-trophy {
    color: #3acbde;
}

i.fa-star {
    color: #fbbc05;
}

i.fa-chess {
    color: #d5c2a6;
}
*:-webkit-selection {
    background: var(--naranja) !important;
    color: black !important;
}
*::-moz-selection {
    background: var(--naranja) !important;
    color: black !important;
}
*::selection {
    background: var(--naranja) !important;
    color: black !important;
}

#contacto {
    /*background-image: url(https://i.ytimg.com/vi/dGiUO62LG1g/maxresdefault.jpg);
    background-repeat: no-repeat;
     Indicamos que no se repetira */
    background-size: cover;
    /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed;
    /* Establecemos una posicion fija para la imagen */
    background-color: #444;
}

#iconRedes{
    display: flex;
    justify-content: flex-start;
}

#iconRedes .fab {
    font-size: 2.5rem;
    color: var(--color);
    transition: all .5s ease;
    padding: 10px 10px;
}

#iconRedes .fab.fa-facebook:hover {
    color: #4867aa !important;
}

#iconRedes .fab.fa-twitter-square:hover {
    color: #00aced !important;
}

#iconRedes .fab.fa-instagram:hover {
    color: #c34d8a !important;
}

#iconRedes .fab.fa-whatsapp-square:hover {
    color: #47c756 !important;
}

.empresa-banner {
    width: 100vw;
    height: 300px;
    background-image: url(http://fixner.com/wp-content/uploads/2015/10/Como-gestionar-una-empresa-de-servicios-1030x687.png);
    background-repeat: no-repeat;
    /* Indicamos que no se repetira */
    background-size: cover;
    /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed;
    /* Establecemos una posicion fija para la imagen */
}

.empresa-banner .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pagos .subtitulo {
    background-image: url(http://www.quimasa.com/wp-content/uploads/2018/03/servicios.jpg);
}

#pagos img {
    width: 100%;
/*     height: 100%; */
}

#pagos p {
    text-align: center;
}
#pagos .row{
    display: flex;
    align-items: flex-end;
}

#flota .subtitulo {
    background-image: url(https://cf-cdn.gananci.com/wp-content/uploads/2017/04/servicio-al-cliente.jpg);
}
#destinos{
    background-image: url(https://www.tapps.net/wp-content/uploads/2017/06/recorrer-europa.jpg);
}

.subtitulo {
    position: relative;
    margin-bottom: 30px;
    width: 100vw;
    height: 200px;
    background-repeat: no-repeat;
    /* Indicamos que no se repetira */
    background-size: cover;
    /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed;
    /* Establecemos una posicion fija para la imagen */
}

.subtitulo h2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--naranja);
    font-size: 2.5rem;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .6);
}

p {
    text-align: justify;
}

#btn-arriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2.5rem;
    color: var(--naranja);
}

#btn-arriba i {
    color: var(--naranja);
}

#carousel img {
    width: 100%;
}

/******************************/

@media (max-width: 576px) {
    #parametros_busqueda_servicios_home {
        margin-top: 50px;
    }
    #navbar i {
        color: var(--naranja)
    }
    #header .cont-header {
        width: 100vw;
    }
    #header .cont-subtitulo {
        display: none;
    }
    .subtitulo h2 {
        text-align: center;
        font-size: 2rem;
    }
    #contacto,
    #contacto p,
    #servicios h3 {
        text-align: center;
    }
    #contacto .contacto h3 {
        font-size: 1.5rem !important;
    }
    #copy p {
        padding: 10px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    #btn-mas {
        display: none;
    }
}

/***********Loader*********/

.loader {
    background-color: #eee;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--naranja);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
/***********Loader*********/


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}
