/*rgb(255, 165, 0) #00993e**/
/*
[class^='col-']{
	border: 1px solid red;
}
.row{
	border: 1px solid blue;
}*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

:root{
    --color: #5c6b80;
    --naranja: rgb(232,83,12);
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color);

}


body {
    background-color: #eee;
}
#navbar{
	transition: all .5s ease;
}
#navbar img{
    width: 130px;
    height: auto;
}
.scrollOff{
	background-color: #444 !important;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.scrollOff li a{
    color: #fff !important;
}
.scrollOn{
    background-color: rgb(255,255,255) !important;
}
.scrollOn li a{
    color: var(--color) !important;
}
#nav ul{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
#nav .logo{
	height: 2rem;
}
#nav li a{
	text-align: center;
    transition: all .5s ease;
    position: relative;
}
#navbar li a:after{
    transition: all .5s ease;
    color: transparent;
}
#navbar li a:hover:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 3px;
    background-color: orange;

}
#nav ul li a:hover{
	color: #ff793b !important;
}

/****************************************************************************************************/

#header {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #999;
    overflow: hidden;
}
#header video{
    position: absolute;
    width: 100vw;
}

#header .cont-header{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
}
#header img{
	position: relative;
	width: 100%;
}
#header .cont-subtitulo p{
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0,0,0,.4);
	font-size: 2rem;
}

#formPasajes input[type="text"]{
    width: 100%;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ff793b;
    padding: 3px;
    transition: all .5s ease;
}
#formPasajes input[type="text"]:focus{
    background-color: rgba(0, 0, 0, .08);
}
#formPasajes input[type="radio"]{
    background: #fff;

}

#formPasajes{
    width: 320px;
    /*background: #eaedf2;
    background-image: radial-gradient(ellipse at center, #f8f9fa 0%, #eaedf2 100%);*/
    background-color: rgba(255,255,255,.8);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.699);
    text-transform: uppercase;
}
#formPasajes a i{
    font-size: 2rem;
    color: var(--color);
}
#formPasajes h4{
    text-align: center;
}
#formPasajes h6{
    margin-top: 5px;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 0.83rem;
}
#formPasajes .tipo h6{
    font-size: .8rem;
    display: inline-block;
    font-weight: normal;
}
#btnPasajes{
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 0;

    background-color: rgb(255,165,0);
    color: #fff !important;
    transition: all .5s ease;
}
#btnPasajes:hover{
    background-color: rgb(235,145,0);
    color: #fff !important;
}
#formPasajes i{
    position: absolute;
    top: 50%;
    left: 78%;
    transform: translateY(-50%);
    font-size: 1rem;
}
/****************************************************************************************************/


#btn-mas {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    animation: jump 1s ease infinite;

}
#btn-mas a i{
    color: #fff !important;
}

@keyframes jump {
    0% {
        top: 90%;
    }
    50% {
        top: 88%;
    }
    100% {
        top: 90%;
    }
}

#btn-mas i {
    font-size: 2rem;
    text-shadow: 0px -2px 5px rgba(0, 0, 0, .4);
}


#body img {
    width: 100%;
    height: 100%;
}

#body .box {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

#footer h5 i {
    font-size: 100%;
}

#footer {
    padding: 20px 0;
    background-color: #131627;
    color: #fff;
    padding: 20px;
}

#footer ul li {
    list-style: none;
}

#footer li input {
    width: 100%;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

#footer li a {
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0 0 5px 5px;
}

#footer a {
    position: relative;
    transition: all .5s ease;
}

#footer i {
    font-size: 2rem;
    padding: 0 5px;
}

#form button {
    width: 100%;
    text-align: center;
    background-color: #ff793b;
    color: white;
    transition: all .5s ease;
}

#form button:hover {
    color: rgb(165, 75, 0);
}

#form button i {
    font-size: 100%;
}

#footer #form {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

#footer #form textarea,
#footer #form input {
    transition: all .5s ease;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    min-width: 100%;
    padding: 5px;
    margin: 3px;
}

#footer #form textarea {
    min-height: 50px;
    max-height: 100px;
}

#footer #form input:focus,
#footer #form textarea:focus {
    border-bottom: 1px solid rgba(255, 165, 0, .8);
    background-color: #eee;
}

#footer #form h4 {
    background-color: #ff702e;
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    top: -20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
    margin-bottom: 30px;
}

#footer .contacto {
    text-shadow: 2px 2px 2px #000;
}
#footer  h2{
	text-align: center;
    color: rgb(255, 165, 0);
    text-shadow: 1px 1px 3px #000;
    font-weight: bold;
    padding: 20px;

}

#footer .contacto h3 {
    text-shadow: 1px 1px 3px #000;
}

#footer #form input.btn {
    background-color: #ff702e !important;
    font-weight: bold;
    color: #603e00;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

#footer #form a {
    margin-top: 15px;
}

#footer #form .row {
    margin-top: -30px;
    padding: 10px;
}

a {
    color: #ff702e !important;
}

#copy {
    background-color: #222;
    text-align: center !important;
}
#copy p {
	padding: 20px;
    color: #aaa;
    margin-bottom: 0px !important;
    text-align: center !important;
}

i.fa-chart-line,
i.fa-trophy,
i.fa-star,
i.fa-chess {
    font-size: 6rem !important;
    text-align: center !important;
    display: block !important;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, .15) !important;
}

i.fa-chart-line {
    color: #e91e63;
}

i.fa-trophy {
    color: #3acbde;
}

i.fa-star {
    color: #fbbc05;
}
i.fa-chess{
	color: #d5c2a6;
}

*::-moz-selection {
    background-color: #ff702e;
    color: black;
}

#footer {
    background-image: url(https://i.ytimg.com/vi/dGiUO62LG1g/maxresdefault.jpg);
    background-repeat: no-repeat;
    /* Indicamos que no se repetira */
    background-size: cover;
    /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed;
    /* Establecemos una posicion fija para la imagen */
}
#footer .fab{
	color: #fff;
	transition: all .5s ease;
	padding: 20px 10px;
}
#footer .fab.fa-facebook:hover{
	color: #4867aa !important;
}
#footer .fab.fa-twitter-square:hover{
	color: #00aced !important;
}
#footer .fab.fa-instagram:hover{
	color: #c34d8a !important;
}
#footer .fab.fa-whatsapp-square:hover{
	color: #47c756 !important;
}

.empresa-banner {
    width: 100vw;
    height: 300px;
    background-image: url(http://fixner.com/wp-content/uploads/2015/10/Como-gestionar-una-empresa-de-servicios-1030x687.png);
    background-repeat: no-repeat; /* Indicamos que no se repetira */
    background-size: cover;/* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed;/* Establecemos una posicion fija para la imagen */
}

.empresa-banner .row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#servicios .subtitulo{
    background-image: url(http://www.quimasa.com/wp-content/uploads/2018/03/servicios.jpg);
}
#clientes .subtitulo{
    background-image: url(https://cf-cdn.gananci.com/wp-content/uploads/2017/04/servicio-al-cliente.jpg);
}
.subtitulo {
	position: relative;
    margin-bottom: 30px;
    width: 100vw;
    height: 200px;
    background-repeat: no-repeat; /* Indicamos que no se repetira */
    background-size: cover;/* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed;/* Establecemos una posicion fija para la imagen */
}
.subtitulo h2{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
    color: #00993e;
    font-size: 2.5rem;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .6);
}

p {
    text-align: justify;
}

#btn-arriba{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 2.5rem;
	color: #00993e;
}

#carousel img{

	width: 100%;
}
/******************************/

@media (max-width: 576px){
    #navbar i{
        color: orange;
    }
	#header .cont-header{
		width: 100vw;
	}
	#header .cont-subtitulo{
		display: none;
	}
	.subtitulo h2{
		text-align: center;
		font-size: 2rem;
	}

	#footer,
	#footer p,
	#servicios h3{
		text-align: center;
	}

	#copy p{
		padding: 10px;
		margin: 0;
	}

}